/**
 * Table of s for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - 
 *	4.1 - Pages
 *   4.1.1 - Groups
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
  *	4.5 - Lists
  * 4.6 - Forms
  * 4.7 - Nav
  * 4.8 - Tables
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */



/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

.js .hide-if-js{
	display: none !important;
}
.no-js .hide-if-no-js{
	display: none !important;
}
.hide {
	display: none !important;
}
.hidden {
	visibility: hidden !important;
}

.screen-reader-text {
	position:absolute;left:-1000em;top:-1000em;height:1px;width:1px;overflow:hidden;
}

a, div {
	outline: 0;
}

// Reset margin and padding on figure element
figure { 
	margin: 0; 
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10); 
	color: #6f6f6f; 
}

.hide-over {
	overflow: hidden;
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}

.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

a.has-tip, .has-tip a {
	cursor: pointer;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

//Font Sizes
.size8{ font-size: rem-calc(8); }
.size10{ font-size: rem-calc(10); }
.size12{ font-size: rem-calc(12); }
.size14{ font-size: rem-calc(14); }
.size16{ font-size: rem-calc(16); }
.size18{ font-size: rem-calc(18); }
.size20{ font-size: rem-calc(20); }
.size22{ font-size: rem-calc(22); }
.size24{ font-size: rem-calc(24); }

.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-transform: lowercase;
}

.small {
	font-size: $small-font-size;
	line-height: inherit;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $header-font-family;
  font-weight: $header-font-weight;
  font-style: $header-font-style;
  color: $header-font-color;
  text-rendering: $header-text-rendering;
  margin-top: $header-top-margin;
  margin-bottom: $header-bottom-margin;
  line-height: $header-line-height;

  small {
	font-size: $small-font-size;
	color: $small-font-color;
	line-height: 0;
  }
}

.h1 { font-size: $h1-font-size - $h1-font-reduction; }
.h2 { font-size: $h2-font-size - $h2-font-reduction; }
.h3 { font-size: $h3-font-size - $h3-font-reduction; }
.h4 { font-size: $h4-font-size - $h4-font-reduction; }
.h5 { font-size: $h5-font-size - $h5-font-reduction; }
.h6 { font-size: $h6-font-size - $h6-font-reduction; }

@media #{$medium-up} {
  .h1,.h2,.h3,.h4,.h5,.h6 { line-height: $header-line-height; }
  .h1 { font-size: $h1-font-size; }
  .h2 { font-size: $h2-font-size; }
  .h3 { font-size: $h3-font-size; }
  .h4 { font-size: $h4-font-size; }
  .h5 { font-size: $h5-font-size; }
  .h6 { font-size: $h6-font-size; }
}

.imgWrapLeft {
	margin-right: rem-calc(7);
	i & {
		float: left;
		width: rem-calc(18);
		display: block;
		text-align: center;
		margin-right: rem-calc(7);
	}
	
	h3 &, .h3 & {
		margin-right: $h3-font-size/2;
	}
}
.imgWrapRight {
	margin-left: rem-calc(7);
	& i {
		float: right;
		width: rem-calc(18);
		display: block;
		text-align: center;
		margin-left: rem-calc(7);
	}
}

.group_name {
	font-weight: bold;
}



/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.row {
		margin-top: rem-calc(60);
	}
}


/**
 * 4.0 
 * ----------------------------------------------------------------------------
 */

.article, //activity items
.group_members, //member list on group page
#item-body #bbpress-forums, //forum page on group
.bp-widget, //group calendar
#buddypress, //group note pad 
.tabs-content > .content, //member profile page
#item-body div.groups, //group list on member page
#item-body div.requests, //membership requests for a group
article { //pages
	background: $white;
	border: 1px solid $widget-border;
	padding: $panel-padding;
	margin-bottom: rem-calc(10);
}
.tooltip {
	p {
		margin-bottom: 0;
	}
}

._6a {
	display: inline-block;
}
._6b {
	vertical-align: middle;
}

.spinner {
	background: url("../assets/img/images/spinner.gif") no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
	display: inline-block;
	visibility: hidden;
	float: right;
	vertical-align: middle;
	opacity: 0.7;
	width: 20px;
	height: 20px;
	margin: 4px 10px 0;
}

/* Dropdowns */
.f-dropdown {
	outline: none;
	
	li {
		label {
			display: block;
			padding: $f-dropdown-list-padding;
			color: #555555;
			
			input {
				margin-bottom: 0;
			}
		}
				
		&.dd-title { //dropdown title
			display: block;
			padding: $f-dropdown-list-padding;
			color: #555555;
			font-weight: bold;
			cursor: auto;
			
			&:hover {
				background: none;
			}
		}
	}
}
.no-js {
	.sepfromtrigger{
		position: inherit;
		left: 0;
		margin-top: -7px;
	}
	.dropdown:hover~ul, .f-dropdown:hover {
		position: inherit;
		margin-top: -7px;
	}
	
}

input[type="submit"], .button{
	@include button();
	&.selected{
		background-color: $button-bg-hover;
	}
	text-decoration: none;
	
	&:focus, &:hover {
		text-decoration: none;
	}
}

.author {
	font-weight: $font-weight-bold;
}
.filetype {
	text-transform: uppercase;
}

.bp-template-notice, .alert-box {
	p:last-of-type {
		margin-bottom: 0;
	}
	
	&.updated {
		@include alert(
			$bg: $success-color
		);
	}
	&.error {
		@include alert(
			$bg: $alert-color
		);
		top:0;
		left:0;
	}
}

.pagination {
	background: transparent;
	border: none;
	color: $jumbo;
	font-size: 90%;
	margin: 0;
	position: relative;
	display: block;
	text-align: left;
	width: 100%;
	padding: 10px 0;
}


	/**
	 * 4.1 Pages
	 * ------------------------------------
	 */
	 
	 .page {
		.entry-title {
			
			.button {
				margin-bottom: 0;
				margin-top: rem-calc(13);
				
				i {
					font-size: 200%;
				}
			}
		}
	 }
	 
	 // Object Header (user, group)
	.page-banner {
		padding: rem-calc(20) rem-calc(30);
		margin: 0;
		position: relative;
		text-align: left;
		height: 300px;
		overflow: visible;
		
		&:hover{
			.edit-cover {
				visibility: visible;
			}
		}
		.edit-cover {
			position: absolute;
			visibility: hidden;
			top: rem-calc(1);
			left: rem-calc(10);
		}
		
		#item-header-avatar {
			width: 150px;
			height: 150px;
			position: absolute;
			overflow: hidden;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
			top: rem-calc(20);
			
			img {
				display: inline;
				margin: 0 auto;
				height: 100%;
				width: auto;
			}
			
			&:hover{
				.edit-avatar {
					visibility: visible;
				}
			}
			.edit-avatar {
				position: absolute;
				visibility: hidden;
				top: rem-calc(80);
			}
		}
		
		.edit-photo {
			border-bottom: none !important;
			
			i {
				color: $ghost;
				text-shadow: 0 0 1px $white, 0 0 2px $white, 0 0 5px $steel, 0 0 8px $steel, 0 0 11px $steel;
				font-size: rem-calc(40);
				line-height: rem-calc(40);
			}
		}
		
		#item-header-data {
			position: absolute;
			bottom: rem-calc(10);
			color: $white;
			font-weight: $font-weight-bold;
			text-shadow: 1px 1px 2px $jet;
			
			h2 a, h2 {
				color: $white;
				text-shadow: 1px 1px 4px $jet;
				font-weight: $font-weight-bold;
				font-size: rem-calc(28);
				margin-bottom: rem-calc(10);
			}
			
			
		}
		
		#item-header-actions {
			position: absolute;
			bottom: rem-calc(10);
			right: rem-calc(30);
			
			ul {
				border: 1px solid $monsoon;
				
				li {
					box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
					
					a.group-button {
						@include button(
							rem-calc(6),
							$snow
						);
						margin-bottom: 0;
						line-height: 1.5;
						
						&:hover {
							background-color: $vapor;
						}
						.dashicons {
							height: rem-calc(16);
							line-height: .9;
						}
					}
					
					&:not(:first-child) {
						a.group-button { border-left: 1px solid $monsoon; }
					}
					
				}
			}
		}
		
		&#group-page-banner {
			background: url("../assets/img/images/unsplash-mountain-forest_Ji9qebSpSlSbnsWRZnDX__MG_9520.jpg") #496c46;
			background-size: cover;
			background-position: left bottom;
		}
		
		&#user-page-banner {
			background: url("../assets/img/images/blue_bokeh_texture_by_beckas-d2z1au4.jpg") #6980a0;
			background-size: cover;
		}
	} //#group-banner
		
	#object-nav {
		li {
			span {
				@include label(
					// This option sets the radius of the label
					$radius:1000px
				);
			}
		}
	}
	
	.groups-members-search, .dir-search, .message-search {
		float:left;
		width: 100%;
		@include clearfix;
		
		@media #{$medium-up} {
			&:not(.stretch) {
				width: 64%;
			}
		}
		
		label {
			width: 75%;
			float: left;
		}
		input[type="submit"] {
			width: 25% !important;
			float: left;
			@include button(
				$button-med,
				$alert-color,
				false,
				false,
				false,
				true
			);
			@include prefix-postfix-base();
			@include prefix(
				$alert-color,
				true
			);
		}
		
	}
	
	#group_members-order-select, #members-order-select, #groups-order-select {
		float: left;
		width: 100%;
		
		@media #{$medium-up} {
			width: 36%;
		}
		
		label { //.screen-reader-text class
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
			clip: rect(1px, 1px, 1px, 1px);
		}
		
		select {
			float: right;
			width: 100%;
			margin-bottom: 0;
			@media #{$medium-up} {
				width: 80%;
			}
		}
			
	}
	
	#settings-form {
		table {
			width: 100%;
			
			th {
				&.icon {
					width: 8%;
				}
				&.title {
				}
			}
			
			.yes {
				width: 10%;
				text-align: center;
			}
			.no {
				width: 10%;
				text-align: center;
			}
		
			&.profile-settings {
				th { width: 50% }
			}
		}
	}
	
	
	
		/**
		 * 4.1.1 Groups
		 * ------------------------------------
		 */
		#request-list {
			.action {
				.generic-button {
					float: left;
					margin-left: rem-calc(14);
					
					a {
						@include button(
							$button-sml
						);
					}
					
					&.reject {
						a {
							@include button(
								$button-sml,
								$alert-color
							);
						}
					}
				}
			}
		}
		
		.resource-folders {
			li {
				
				a {
					display: block;
					padding: rem-calc(5);
					line-height: inherit;
					overflow: hidden;
					height: 40px;
					text-overflow: ellipsis;
					white-space: nowrap;
					background-color: $white;
					color: $tuatara;
					
					&:before {
						font-family: "foundation-icons";
						font-style: normal;
						font-size: 135%;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;
						-webkit-font-smoothing: antialiased;
						display: inline-block;
						text-decoration: inherit;
						content: "\f150";
						float: left;
						margin-right: rem-calc(7);
					}
					
					&:hover {
						text-decoration: none;
						color: $tuatara;
					}
				}
			}
			
		}
		.rlchecklist {
			label {

			}
			li {
				list-style: none;
			}
		}
		


	/**
	 * 4.2 Posts
	 * ------------------------------------
	 */

	.single-pageheader {
		margin-bottom: rem-calc(20);
	}
	
	.groups.inline {
		.current_group {
			font-weight: $font-weight-bold;
		}
		a:not(.current_group) {
			color: rgba($primary-color, 0.75);
		}
	}
	
	.entry-content {
		border-bottom: 1px solid $gainsboro;
		/*padding-bottom: $panel-padding;*/
	}
	
	#ses { //abbr: single-entry-sharing
		> div {
			
		}
		> *:first-child {
			
			@media #{$small-only} { 
				border-bottom: 1px solid $gainsboro; //move to this child's div so it's within the column padding
			}
			@media #{$medium-up} { 
				border-left: 1px solid $gainsboro;
			}
			
		}
		> *:last-child {
			padding-top: $column-gutter / 2;
		}
	}
	
	.author-box {
		time {
			color: $steel;
		}
	}


	/**
	 * 4.3 Widgets
	 * ------------------------------------
	 */
	.homesideNavcont {
		h5 {
			font-family: $body-font-family;
			text-transform: uppercase;
			color: $tuatara;
			 
			i {
				font-size: rem-calc(22);
			}
			
			& + span {
				padding-top: rem-calc(6);
			}
		}
	}
	.homeSideNav {
		@include panel(
			$bg: $widget-bg,
			$padding: 0px,
			$adjust: false
		);
		border: 1px solid $widget-border;
		padding: $panel-padding;
		
		&.no-bg {
			border: 0;
			background: none;
			padding: 0;
			ul.subtle-sidenav {
				padding-top: $panel-padding / 2;
				margin-right: 0;
			}
		}
		
		
		.subtle-sidenav {
			margin-left: - $panel-padding;
			margin-right: - $panel-padding;
				
			&:not(.item-list-tabs){
				padding-bottom: $panel-padding;
				
				&:first-child {
					margin-top: - $panel-padding;
				}
				
				&:last-child {
					padding-bottom: 0;
				}
			}
		}
				
		&#activity-actions-container {
			padding: 0;
			border-color: $body-bg;
			
			.expand-first { //ul tags
				&:not(:last-child) {
					border-bottom: 1px solid $body-bg;
				}
				
				li {
					margin: 0;
					
					&:last-child {
						border-left: 1px solid $body-bg;
						
						a {
							padding: rem-calc(2 10);
						}
					}
					
					a {
						&[id*='bp_news_created'] {
							border-left: $activity-filter-border solid $allblue;
						}
						&[id*='bp_topic_created'] {
							border-left: $activity-filter-border solid $allgold;
						}
						&[id*='bp_bgc_created'] {
							border-left: $activity-filter-border solid $brellisbrown;
						}
						&[id*='bp_dlm_created'] {
							border-left: $activity-filter-border solid $moss;
						}
						&[id*='bp_job_created'] {
							border-left: $activity-filter-border solid $tangerine;
						}
					}
				}
				
				a {
					padding: rem-calc(2 8 2 6);
					display: block;
					color: $tuatara;
					
					&:hover {
						background-color: $side-nav-link-bg-hover;
					}
					&:hover, &:active, &:focus {
						text-decoration: none;
					}
					
					.remove-activity-filter {
						display: block;
						position: absolute;
						left: rem-calc(-10);
						
						.fi-check {
							display: block;
						}
						.fi-x {
							display: none;
						}
						&:hover {
							.fi-check {
								display: none;
							}
							.fi-x {
								display: block;
							}
						}
					}
				}
			}
		}
	}
	
	.widget {
		&.post-meta {
			ul.no-bullet {
				margin-bottom: $list-margin-bottom / 2;
				
				li {
					padding-top: $panel-padding;
					
					&:not(:last-child) {
						border-bottom: 1px solid $panel-border-color;
						padding-bottom: $panel-padding * 2;
						margin-bottom: $panel-padding;
					}
					
					&.uls { //Under Large screen size, include in stack
						@media #{$medium-down} { 
							border-bottom: 1px solid $panel-border-color;
							padding-bottom: $panel-padding * 2;
							margin-bottom: $panel-padding;
						}
					}
					
					i {
						font-size: rem-calc(24);
					}
					
					dl {
						margin-bottom: 0;
						overflow: hidden;
						
						dd {
							font-weight: $font-weight-bold;
							margin-bottom: 0;
							font-size: rem-calc(16);
						}
						
						dt {
							margin-bottom: 0;
							font-weight: $font-weight-normal;
							
						}
					}
				}
			}
		}

		.h5{
			color: scale-color($header-font-color, $lightness: 35%);
			font-weight: $font-weight-normal;
			margin-top: 0;
			margin-bottom: 0;
			text-transform: uppercase;
			font-size: rem-calc(14);
			display: block;
		}
		
		.sidebar-module.sidebar-module-inset.sponsored-module {
			margin-top: rem-calc(10);
		}
	}
	
	.alert-box {
		clear: both;
	}


	/**
	 * 4.4 Comments
	 * ------------------------------------
	 */

	.no-js {
		textarea {
			&.wp-editor-area.frontend {
				@include form-element;
			}
		}
	}
	#respond {
		border-bottom: 1px solid $gainsboro;
		margin-bottom: $column-gutter / 2;
	}
	
	.comment {
		padding: $column-gutter / 2;
		margin-top: $column-gutter / 2;
		
		background: rgba($aluminum, 0.2);
		
		.comment-content {
			//MAYBE MAKE THE COMMENT FONT SIZE A IT SMALLER
			
			> p:last-child {
				margin-bottom: 0;
			}
		}

	}
	ul.no-bullet li.comment {
		ul {
			margin-left: rem-calc(32);
		}
	}
	
	

	/**
	 * 4.5 Lists
	 * ------------------------------------
	 */

	.item-list-tabs {
		
		ul {
			margin-left: 0;
			list-style: none;
			
			&:before, &:after {
				content: " ";
				display: table;
			}
			
			
			li {
				float: left;
				
			}
			
		}
	}
	
	.item-list {
		
		border-top: 1px solid $gainsboro;
		width: 100%;
		list-style: none;
		clear: both;
		margin: 0;
		padding: 0;
		
		> li {
			border-bottom: 1px solid $smoke;
			padding: rem-calc(15) 0;
			margin: 0;
			position: relative;
			list-style: none;
			
			img.avatar {
				float:left;
				margin: 0 rem-calc(10) 0 0;
			}
			
			.item {
				span.activity {
					display: inline-block;
					font-size: 80%;
					opacity: 0.8;
					padding: 0;
				}
				
				.item-desc {
					color: $jumbo;
					font-size: 80%;
					margin: rem-calc(10) 0 0 rem-calc(60);
					width: 70%;
				}
			}
			
			.action {
				float: right;
				
				.meta {
					color: $jumbo;
					font-size: 80%;
					margin-top: 10px;
				}
			}
		}
	}
	.single-line {
		li {
			border: none;
		}
	}
	
	#admins-list li, #mods-list li, #members-list li {
		overflow: auto;
		list-style: none;
	}
	
	/* Foundation Tabs */
	.tabs {
		background-color: $tabs-navigation-bg-color;
		
		.tab-title {
			border-bottom:none;
			overflow: hidden;
			
			&.active {
				border-bottom: 3px solid $primary-color;
				a {
					margin-bottom:-3px;
					overflow: hidden;
				}
			}
			
			a {
				&:active, &:focus, &:hover {
					text-decoration: none;
				}
			}
		}
	}
	.tabs-content {
		margin-top: $tabs-content-margin-bottom/2;
	}
	
	


	/**
	 * 4.6 Forms
	 * ------------------------------------
	 */
	 
	input.error {
		&~span {
			&:empty {
				display: none;
			}
			
			&#pass-strength-result {
				&.error {
					&.strong { background: $success-color; }
					&.good { background: $warning-color; }
				}
			}
		}
	}
	
	
	input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], input[type="radio"], input[type="checkbox"], textarea {
		&[aria-describedby] {
			margin: 0;
			
			&~p, &~span, &~div {
				display: block;
				margin: 0 0 $form-spacing 0;
				color: $form-help-text-color;
				font-style: $form-help-text-style;
				font-size: $form-help-text-size;
			}
		}
	}
	
	form {
		div.error {
			position: absolute;
			top: ($input-font-size * 2) + ($form-spacing * 2) - rem-calc(2); //minus 2 for borders
			//top: 58px;
			display: block;
			padding: $input-error-message-padding;
			margin-top: $input-error-message-top;
			font-size: $input-error-message-font-size;
			font-weight: $input-error-message-font-weight;
			font-style: $input-error-message-font-style;
			// We can control the text color based on the brightness of the background.
			$bg-lightness: lightness($alert-color);
			background: $alert-color;
			@if $bg-lightness < 70% or $bg == yellow { color: $input-error-message-font-color; }
			@else { color: $input-error-message-font-color-alt; }
			
			right: rem-calc(10);
			left: rem-calc(10);
			z-index: 1;
	
			&+input, &+textarea {
				position: relative;
				margin-bottom: rem-calc(6) + rem-calc(9) + ($input-error-message-font-size * $form-label-line-height) + $form-spacing - rem-calc(1);
				
				&+span {
					margin-top: $form-spacing * 2 !important;
				}
			}
		}
	}
	
	//Button Switches
	ul[class*="-block-grid-"] {
		.btn-switch {
			width: 99%;
			padding-left: 0;
			padding-right: 0;
			margin: 0;
		}
	}
	.btn-switch {
		@include button(
			$bg: $white
		);
		
		padding: 0px !important;
		overflow-wrap: break-word;
		
		&:hover {
			background-color: $white;
		}
		
		input {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 100;
			opacity: 0;
			cursor: pointer;
			
			&:checked {
				&~label {
					color: $white;
				}
			}
			
			&#post {
				&~label:before { content: "\f173"; }
			}
			&#topic {
				&~label:before { content: "\f132"; }
			}
			&#bgc_event {
				&~label:before { content: "\f124"; }
			}
			&#dlm_download {
				&~label:before { content: "\f15e"; }
			}
			&#cn_job {
				&~label:before { content: "\f1fc"; }
			}
			&:checked~label {
				background: $primary-color;
				border-color: $primary-color;
			}
		}
		
		input[type="checkbox"]+label, input[type="radio"]+label {
			margin-left: 0;
		}
		
		label {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			position: relative;
			padding-top: $button-sml;
			padding-bottom: $button-sml + rem-calc(1);
			padding-left: $button-med;
			padding-right: $button-med;
			font-size: $paragraph-font-size;
			border: 1px solid $aluminum;
			
			&:before {
				font-family: "foundation-icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				display: block;
				text-decoration: inherit;
				font-size: $h4-font-size;
			}
			
			&:after {
				content: "";
				position: absolute;
				z-index: -1;
				border-radius: inherit;
			}
			
		}
		
		&.large {
			label {
				padding-top: $button-med;
				padding-bottom: $button-med + rem-calc(1);
				font-size: $h4-font-size;
				
				&:before {
					font-size: $h1-font-size;
				}
				
			}
		}
		
		&.chk {
			input:checked {
				&~label {
					&:before {
						content: "\f126";
					}
				}
			}
			input:not(:checked) {
				&~label {
					&:before {
						content: "";
					}
				}
			}
			label {
				padding-left: 17px; //determined by the font size.
				padding-right: 17px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				
				&:before {
					font-family: "foundation-icons";
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: inherit;
					-webkit-font-smoothing: antialiased;
					display: inline;
					text-decoration: inherit;
					font-size: $paragraph-font-size;
					width: rem-calc(18);
					position: absolute;
					margin-left: rem-calc(-20);
				}
				
			}
		}
	}
	
	//TinyMCE editor
	.wp-editor-wrap {
		margin: 0 0 $form-spacing 0;
		
		.mce-edit-area {
			border-left: 1px solid #e5e5e5 !important;
			border-right: 1px solid #e5e5e5 !important;
		}
		.mce-statusbar {
			border-left: 1px solid #e5e5e5 !important;
			border-right: 1px solid #e5e5e5 !important;
			border-bottom: 1px solid #e5e5e5 !important;
		}
		
		button:hover, button:focus, .button:hover, .button:focus {
			background: inherit;
			color:inherit;
		}
		
		.wp-editor-tabs {
			button:hover, button:focus, .button:hover, .button:focus {
				background: none;
			}
		}
	}
	.media-toolbar-secondary {
		width: 300px;
		
		& select.attachment-filters {
			height: 32px;
			padding: 2px;
			vertical-align: middle;
		}
	}
	.media-sidebar {
		.edit-attachment { display:none; }
	}
	
	//WP Insert/Edit Link
	#wp-link-wrap{
		p.howto{
			display: none;
		}
		#wp-link {
			input, textarea, keygen, select, button {	display: inline-block; }
		}
	}
	
	//file upload field
	.fileUpload {
		position: relative;
		overflow: hidden;
		
		input {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			margin: 0;
			padding: 0;
			font-size: 20px;
			cursor: pointer;
			opacity: 0;
		}
		
		&.postfix.button { margin-bottom: 0; }
	}
	
	.inlinewithbutton {
		margin: 0 0 $button-margin-bottom 0;
		padding: ($button-med / 2) 0;
	}
	
	input[type="radio"], input[type="checkbox"] { /* wllabel = input witha  label that has a line break */
		&.wllabel {
			vertical-align: top;
			margin-top: $form-spacing / 4;
		}
		&+label {
			margin-bottom: $form-spacing;
		}
	}
	
	//Tag It Jquery Plugin
	ul.tagit {
		.cn-tagit & {
			-webkit-appearance: none;
			-webkit-border-radius: 0px;
			@include form-element;
			padding: 0px ($form-spacing / 2);
			
			li {
				&.tagit-new {
					margin: 0;
					padding: 0;
					height: 100%;
					
					input.ui-widget-content {
						-webkit-appearance: none;
						-webkit-border-radius: 0px;
						@include form-element;
						border: 0px;
						margin:0;
						height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(3));
						background: none;
						box-shadow: none;
						
						&:focus {
							background: none;
							box-shadow: none;
						}
					}
				}
				&.tagit-choice {
					color: $primary-color;
					background: $input-bg-color;
					
					&.tagit-choice-editable{
						padding: .3em 18px .2em .5em;
					}
				}
			}
		}
	}
	ul.tagit-autocomplete.ui-widget-content {
		@include dropdown-container(list, bottom);
		
		li {
			@include dropdown-style;
			padding: $f-dropdown-list-padding;
			
			&:hover, &.ui-state-hover, &.ui-state-focus {
				border: none;
				background: $f-dropdown-list-hover-bg;
				color: $f-dropdown-font-color;
				font-weight: $font-weight-normal
			}
		}
	}
	
	/**
	 * 4.7 Navs
	 * ------------------------------------
	 */
	 
	// Add some whitespace between top bar and content
	.top-bar-container, .tab-bar {
		margin-bottom: $column-gutter;
	}
	
	.top-bar.site-banner {
		width: 100%;
		height: rem-calc(100);
		//background-image: url(https://ununsplash.imgix.net/reserve/qstJZUtQ4uAjijbpLzbT_LO234824.JPG);
		//background-image: url(https://farm8.staticflickr.com/7351/16579986031_3100b2b12b_k.jpg);
			//https://www.flickr.com/photos/29388462@N06/16579986031/
		//background-image: url(https://unsplash.imgix.net/4/jet-sky.jpg); //68% y-position
		
		background-size: 100%;
		background-position: center 97%;
		background-repeat: no-repeat;
		margin-bottom: 0;
		text-align: right;
		font-size: 10px;
		line-height: 10px;
		color: $white;
		padding-right: $panel-padding;
		padding-top: $panel-padding / 2;
	}
	
	.top-bar-container {
		border-bottom: #929292;
		-webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.25);
		
		.title-area {
			h1 {
				img {
					//position: relative;
					//z-index: 1;
					margin-top: -13px;
					margin-right: 20px;
					height: $topbar-height;
					width: auto;
				}
				/*.logo-circle-bg {
					border-radius: 50%;
					width: 240px;
					height: 240px;
					background: white;
					position: absolute;
					top: -128px;
					z-index: 0;
					left: -22px;
				}*/
			}
		}
	}
	
	#item-nav {
		height: $topbar-height - 10;
		line-height: $topbar-height - 10;
		margin-bottom: $topbar-margin-bottom - 0.5;
		
		ul {
			li {
				& > a {
					height: $topbar-height - 11;
					font-size: $base-font-size;
				}
				&.active, &.current, &:hover, &:active {
					a {
						border-bottom: 4px solid $primary-color;
						transition: all .15s ease-in-out;
						text-decoration: none;
					}
				}
				&:not(.has-form) a:not(.button) {
					line-height: $topbar-height - 10;
				}
			}
		}
	}
	
	.top-bar-section {	
		li {
			
			& > a {
				height: $topbar-height - 1;
			}
			
			&.nav-item, &.bp-menu {
			
				&.active, &.current, &:hover, &:active {
					a {
						border-bottom: 4px solid $primary-color;
						transition: all .15s ease-in-out;
						text-decoration: none;
					}
				}
				
			}
			
			&.current > a {
				background: $topbar-link-bg-active !important;
				color: $topbar-link-color-active !important;
				
				&:hover {
					background: $topbar-link-bg-active-hover !important;
					color: $topbar-link-color-active-hover !important;
				}
			}
			
			&.active.btn, &.btn {
				&:not(.has-form){
					&.announce-btn {
						a {
							padding-right: 51px;
							
							@media #{$medium-only} {
								padding: 0 $button-med;
								
								&:after {
									left: -9999px;
								}
							}
							
							&:after {
								content: "\f173";
								font-family: "foundation-icons";
								font-style: normal;
								font-weight: normal;
								font-variant: normal;
								text-transform: none;
								line-height: $top-bar-btn-height;
								-webkit-font-smoothing: antialiased;
								display: inline-block;
								text-decoration: inherit;
								font-size: $base-font-size * 2;
								position: absolute;
								width: rem-calc(24);
								padding-left: rem-calc(7);
							}
						}
					}
					&:hover>a, a {
						background: $allblue;
						color: $white;
						margin: $top-bar-btn-margin-top-btm 0;
						height: $top-bar-btn-height;
						line-height: $top-bar-btn-height;
						border-radius: $global-radius;
						text-decoration: none;
					}
					&:hover > a {
						background: scale-color($allblue, $lightness: -14%);
						text-decoration: none;
					}
				}
			}
			
			&.has-dropdown {
				&.no-caret {
					> a {
						padding-right: $topbar-link-padding !important;
					
						&:after {
							border: none;
						}
					}
				}
				
				&.only-caret {
					&:not(.has-form){
						> a {
							&:not(.button){
								padding: 0 5px;
								
								span {
									visibility: hidden;
									display: block;
									width: 0px;
								}
							}
						}
					}
				}
				
				.dropdown {
					li {
						&:not(.has-form) {
							&:not(.active) {
								&:hover > a {
									&:not(.button) {
										background: scale-color($topbar-bg, $lightness: -5%);
									}
								}
							}
						}
						a {
							line-height: $topbar-height / 1.5;
							font-size: $base-font-size;
							height: $topbar-height / 1.5;
							&:hover { text-decoration: none; }
						}
					}
				}
			}
			
			
			span {
				span.label {
					margin-left: rem-calc(5);
				}
			}
		}
	}

	
	
	.subtle-sidenav {
		@include side-nav(
			// Font size of nav items
			$font-size: $subtle-side-nav-font-size,
			$link-color: $tuatara,
			$link-color-hover: $tuatara
		);
		//padding: 0 0 1rem 0;
		
		
		li {
			height: rem-calc(32);
			overflow: hidden;
			text-overflow: ellipsis;
			word-break: break-all;
			
			a {
				&[class^='fi-'] {
					&:before {
						margin-right: rem-calc(7);
						width: rem-calc(22);
						text-align: center;
						font-size: rem-calc(22);
					}
				}
				&:focus {
					outline: none;
					text-decoration: none;
				}
				&:hover {
					background-color: $side-nav-link-bg-hover;
					text-decoration: none;
					
					i {
						color: $side-nav-link-color;
					}
					
				}
				&:not(.button) {
					padding: rem-calc(2 10);
					//margin-left: rem-calc(-7);
					text-overflow: ellipsis;
					overflow:hidden;
					word-break:break-all;
				
					
				}
				
				img {
					margin: rem-calc(3 7 0 0);
				}
			}
			&.current, &.active {
				> a:first-child:not(.button) {
					font-weight: $sub-nav-active-font-weight;
					background: $sub-nav-active-bg;
					cursor: $sub-nav-active-cursor;
					color: $sub-nav-active-color;
					
					&:hover {
						color: $sub-nav-active-color;
						background: scale-color($sub-nav-active-bg, $lightness: -15%);
					}
				}
			}
		}
    }
	
	#subnav ul {
		@include sub-nav(
			// Control the color of the divider between links.
			$font-color: $primary-color,
			// Control your font-size per label.
			$font-size: rem-calc(14),
			// Change the background color for your labels
			$active-bg: $primary-color
	    );
		
		margin-left: 0;
		
		dt,
		dd,
		li {

			&.selected, &.current {
				a {
					@include radius($sub-nav-border-radius);
					
					font-weight: $sub-nav-active-font-weight;
					background: $sub-nav-active-bg;
					padding: $sub-nav-active-padding;
					cursor: $sub-nav-active-cursor;
					color: $sub-nav-active-color;
					&:hover {
						background: $sub-nav-active-bg-hover;
					}
				}
			}
			
			&.groups-members-search, &#group_members-order-select {
				margin-left: 0 !important;
			}
			
		}
	}
	
	.sub-nav {
		dt,
		dd,
		li {

			&.selected, &.current {
				a {
					@include radius($sub-nav-border-radius);
					
					font-weight: $sub-nav-active-font-weight;
					background: $sub-nav-active-bg;
					padding: $sub-nav-active-padding;
					cursor: $sub-nav-active-cursor;
					color: $sub-nav-active-color;
					&:hover {
						background: $sub-nav-active-bg-hover;
					}
				}
			}
		}
		&.activity-type-tabs {
			li:first-child{
				margin-left: 0;
			}
		}
		.label {
			top: rem-calc(-1);
		}
	}
	
	.post-sharing-side-nav {
		@include side-nav(
			$divider-color: $gainsboro,
			$link-color:'#ccc',
			$link-color-hover: '#444'
		);
		
		padding-top: 0px;
		margin-left: rem-calc(-10);
	}
	
	.fm_nav.panel {
		font-size: .85rem;
		
		
		.fm {
			$inline-list-default-float-margin: rem-calc(-12);
			$inline-list-default-float-list-margin: rem-calc(12);
			$inline-list-bottom-margin: 0;
			
			@include inline-list();
			
			font-size: .85rem;
			
			li {
				color: $primary-color;
			}
		}
	}
	
	/* pagination */
	ul.page-numbers {
		@include pagination($center:false, $base-style:true, $use-default-classes:false);
		
		li {
			.unavailable { @include pagination-unavailable-item(); }
			.current { @include pagination-current-item($has-anchor: false); }
		}
		
	}
	
	/**
	 * 4.8 Tables
	 * ------------------------------------
	 */
	 
	//Pseudo Table Built with <div>'s and css flex property
	//Based off google drive's details panel
	.p-flex-table {
		.ft-tr { //flex-table row
			display: flex;
			line-height: 200%;
			
			.ft-td-a {
				-webkit-flex: 0 0 100px;
				flex: 0 0 100px;
			}
			
			.ft-td-b {
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				-webkit-flex: 1 1 auto;
				flex: 1 1 auto;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	
	.valign-middle {
		display: table;
	
		> .columns {
			display: table-cell;
			vertical-align: middle;
		}
	
		> .columns, > [class*="column"] + [class*="column"]:last-child {
			float: none;
		}
	}


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */
 
//Buddyperss Docs
#bp-create-doc-button {
	float: inherit !important;
	margin: inherit !important;
	font-weight: inherit !important;
}
 
//Google Maps
.googlemapcanvas {
	width: 400px;
	height: 150px;
}

//Buddypress Group Email Subscription
.group-subscription-div {
	& + ul.f-dropdown {
		li {
			a {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

//Invite Anyone
#invite-anyone .spinner {
	float: none;
}


/*
 * Activity Loop
 */
 
.home-page.directory.activity {
	h2 {
		position:absolute !important;
		height:1px;
		width:1px;
		overflow:hidden;
		clip:rect(1px, 1px, 1px, 1px);
	}
}
@mixin activity-item($color: $oil){
	@if $color == $turquoise or $color == $gold or $color == $smoke {
		$contrast-color: $jet;
	} @else {
		$contrast-color: $white;
	}
	
	.activity-type {
		background-color: $color;
		
		h5{
			color: $contrast-color;
		}
	}
	.activity-body {
		border: 1px solid $color;
	}
	.activity-meta {
		background-color: $color;
		color: $contrast-color;
		
		.activity-more {
			.button {
				@include button(
					$padding: rem-calc(5),
					$radius: rem-calc(5),
					$bg: scale-color($color, $lightness: 35%)
			    );
				color: $contrast-color;
				margin: 0;
				&:hover {
					color: $contrast-color;
				}
			}
		}
		
		.activity-tags {
			color: $contrast-color;
			a {
				color: $contrast-color;
			}
		}
		.activity-social {
			a {
				color: $contrast-color;
				&.favorite-activity {
					color: scale-color($color, $lightness: 35%);
				}
				&.favorited {
					color: $contrast-color;
				}
			}
		}
	}
}


.activity-item {
	margin: $column-gutter 0;
	background: $white;
	border: 1px solid $widget-border;
	position: relative;
	
	.activity-type-icon {
		&:not(.activity-group){
			width: $activity-icon-size;
			height: $activity-icon-size;
			position: absolute;
			right: $panel-padding;
			
			&:before {
				font-family: "foundation-icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				text-align: center;
				line-height: $activity-icon-size;
				-webkit-font-smoothing: antialiased;
				display: block;
				text-decoration: inherit;
				font-size: $h4-font-size;
				color: $white;
			}
		}
		
		&.activity-post { 
			background: $allblue;
			&:before{ content: "\f173"; }
		}
		&.activity-topic { 
			background: $allgold;
			&:before{ content: "\f132"; }
		}
		&.activity-bgc_event { 
			background: $brellisbrown;
			&:before{ content: "\f124"; }
		}
		&.activity-dlm_download { 
			background: $moss;
			&:before{ content: "\f15e"; }
		}
		&.activity-cn_job { 
			background: $tangerine;
			&:before{ content: "\f1fc"; }
		}
	}

	
	.activity-type {
		position: relative;
		padding: 0 rem-calc(15);
		display: none;
		
		h5{
			margin-top: 0.7rem;
		}
		
		.activity-groups-avatars {
			position: absolute;
			right: rem-calc(10);
			top: rem-calc(-35);
		}
	}
	
	.activity-body {
		padding: $panel-padding;
		
		.activity-header { 
			color: $steel;
			padding-right: $activity-icon-size + $panel-padding;
		
			/*
			 * add via jquery to check if the byline is two lines or 1 line
			
			.byline {
				display: inline;
			}
			
			 */
		}
		
		.activity-time-since {
			font-size: $small-font-size;
			line-height: inherit;
			color: $aluminum;
			
			a {
				color: $aluminum;
				
				&:hover {
					color: $aluminum;
				}
			}
			
			
		}
		
		.activity-inner {
			position: relative;
			
			.activity-shield {
				position: absolute;
				height: rem-calc(90);
				width: 100%;
				bottom: 0;
				left: 0;
				right: 0;
				
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
			}
			
			.activity-img {
				&.text-center {
					margin: rem-calc(10) auto;
				}
				
				&.right{
					float: right;
					margin: 0 0 rem-calc(10) rem-calc(10);
				}
			}
			
			.activity-content {
				max-height: rem-calc(150);
				overflow: hidden;
				position:relative;
				
				&:after {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;
					width: 100%;
					content: "";
					background: linear-gradient(to top,
						rgba(255,255,255, 1) 20%, 
						rgba(255,255,255, 0) 80%
					);
					pointer-events: none;
				}
			}
		}
	}
	
	.activity-meta {
		padding: rem-calc(22 15 15);
		position: relative;
		background: $widget-bg;
		border-top: 1px solid $widget-border;
		
		.activity-more {
			position: absolute;
			left: 50%;
			top: -30%;
			
			a {
				@include button(
					$padding: $button-sml,
					$radius: rem-calc(5),
					$bg: $white
			    );
				
				border: 1px solid $widget-border;
				position: relative;
				left: -50%;
				margin: 0;
			}
		}
				
		.activity-tags {
			a {
				font-weight: $font-weight-bold;
			}
		}
		.activity-social {
			a {
				color: scale-color($tuatara, $lightness: 45%);
				
				&:hover {
					color: $tuatara;
				}
				
				&.favorited {
					color: $tuatara;
						&:hover {
						color: scale-color($tuatara, $lightness: 45%);
					}
				}
			}
		}
	}
	
}

//ChesNet Message Types
/*
.post_button {
	@include button( $bg: $turquoise );
	color: $white;
	&.selected, input:checked~label {
		background-color: scale-color($turquoise, $lightness: $button-function-factor);
	}
}
.cn_job_button {
	@include button( $bg: $mauve );
	color: $white;
	&.selected, input:checked~label {
		background-color: scale-color($mauve, $lightness: $button-function-factor);
	}
}
.topic_button {
	@include button( $bg: $coral );
	color: $white;
	&.selected, input:checked~label {
		background-color: scale-color($coral, $lightness: $button-function-factor);
	}
}
.dlm_download_button {
	@include button( $bg: $gold );
	color: $white;
	&.selected, input:checked~label {
		background-color: scale-color($gold, $lightness: $button-function-factor);
	}
}
.bgc_event_button {
	@include button( $bg: $moss );
	color: $white;
	&.selected, input:checked~label {
		background-color: scale-color($moss, $lightness: $button-function-factor);
	}
}
*/

.single-pageheader {
	border-bottom: 5px solid $allgold;
}

/*
 * Activity Loop
 */