/**
 * Custom color scheme
 * ----------------------------------------------------------------------------
 */
 
$brellisbrown	: #88653c;
$moss			: #617b35;
$tangerine		: #f47d26;

$allblack		: #221e1f;
$allblue		: #004a80;
$allgold		: #fdba30;

$widget-bg		: #f7f7f7;
$widget-border	: #d3d3d3;