/**
 * Custom variables
 * ----------------------------------------------------------------------------
 */
 
/** Form Helper Text **/
$form-help-text-color: $aluminum;
$form-help-text-style: italic;
$form-help-text-size: .75rem;

/** Activity **/
$activity-icon-size: rem-calc(30);
$activity-filter-border: rem-calc(5);

/** Navigation **/
$top-bar-btn-margin-top-btm: 7px;
$top-bar-btn-height: $topbar-height - ($top-bar-btn-margin-top-btm * 2);
$subtle-side-nav-font-size: rem-calc(18);